@model IEnumerable<OnlineStore.Domain.Entities.Product>

<a href="#" onclick="document.getElementById('results').style.visibility = 'hidden'">Hide products</a>
@Html.ActionLink("Create new Product","CreateProduct")

<table class="table table-bordered table-condensed">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayName("Store")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Store.Name)
        </td>
        <td>
                     
                @Ajax.ActionLink("Delete", "DeleteProduct", new { id = item.Id }, new AjaxOptions { HttpMethod = "Post" })


</td>
    </tr>

}   
</table>
