@model IEnumerable<OnlineStore.Domain.Entities.Store>
@using Vereyon.Web;
<h2>Stores</h2>

@Html.ActionLink("Store rss", "webApi", "api")

<p>
    @Html.ActionLink("Create new store", "CreateStore")
</p>
@Html.RenderFlashMessages()
<table class="table table-hover table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
  
        
     <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkTime)
        </td>

        <td>
           
                @Ajax.ActionLink("Products", "Edit",new {id=item.Id }, new AjaxOptions { UpdateTargetId = "results" }, new
           {
               onclick = "document.getElementById('results').style.visibility = 'visible'" } )

         </td>

         <td>

             @Html.ActionLink("Edit", "EditStore", new { id = item.Id })
            
             @Ajax.ActionLink("Delete", "DeleteStore", new { id = item.Id }, new AjaxOptions { HttpMethod = "Post" })
           
         </td>

         

         
    </tr>
}

</table>



<div id="results">   
</div>


@*<a href="#" id="link">Click me to hide products</a>
    <script >
        document.getElementById('link').addEventListener('click', function (e) {
            document.getElementById('results').remove()
        });
         </script>
    <a href="#" onclick="document.getElementById('results').style.visibility = 'visible'">...</a>
*@